<div style="margin-bottom: 16px">
  <input
    type="text"
    (input)="onSearch($event)"
    placeholder="search"
    style="
      padding: 8px 12px;
      border: 2px solid #ccc;
      border-radius: 8px;
      font-size: 16px;
      width: 250px;
      outline: none;
    "
  />
  <!-- <button
      class="ml-auto w-[25%] px-3 py-2 rounded-md text-sm md:text-xl border border-black flex justify-center items-center bg-green-400 hover:bg-green-600"
      (click)="openModal()"
    >
      Add pet
    </button> -->
</div>
